<div class="login">
    <div class="loginHead">
        <h1>Local.LY- Local Area Music</h1>
        <svg width="85" height="85" viewBox="0 0 85 123" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M56.6823 113.789C56.6823 118.876 50.338 123 42.5118 123C34.6857 123 28.3413 118.876 28.3413 113.789C28.3413 108.702 34.6857 104.578 42.5118 104.578C50.338 104.578 56.6823 108.702 56.6823 113.789Z"
                fill="#D74B05" />
            <path
                d="M84.0311 35.2836C84.0311 54.7702 69.7918 94.6041 48.8008 111.328C27.8097 128.052 0 54.7702 0 35.2836C0 15.797 22.5222 0 41.106 0C59.6897 0 84.0311 15.797 84.0311 35.2836Z"
                fill="#FF5500" />
            <circle cx="42.0865" cy="39.5357" r="24.7984" fill="#211E1E" />
            <g clip-path="url(#clip0)">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M37.0032 36.4306V47.6882L37.0031 47.6881C37.0138 48.7176 36.329 49.8785 34.9106 50.6079C32.9407 51.621 30.8693 51.1266 30.1111 49.9568C29.3529 48.787 29.9079 46.9418 31.8778 45.9287C33.2026 45.2474 34.5733 45.2479 35.5596 45.6771V36.7193V30.9449L49.9958 28.0576V29.5012V33.8321V46.2479L49.9957 46.248C50.0049 47.2766 49.32 48.4357 47.9032 49.1643C45.9333 50.1774 43.8619 49.683 43.1036 48.5132C42.3454 47.3434 42.9005 45.4981 44.8704 44.4851C46.1952 43.8037 47.5659 43.8042 48.5522 44.2335V34.1208L37.0032 36.4306Z"
                    fill="#FDFDFD" />
            </g>
            <defs>
                <clipPath id="clip0">
                    <rect x="28.3413" y="28.0576" width="23.0979" height="23.0979" fill="white" />
                </clipPath>
            </defs>
        </svg>
    </div>

    <section class="mainContent">

        <div class="mainContent__form forms">
            <div class="submitBtns">
                <h2>Log in with your Spotify account</h2>
                <a id="loginButton"
                    href="https://accounts.spotify.com/authorize?client_id={{clientID}}&redirect_uri={{redirectUrl}}&scope=user-read-private user-read-recently-played user-top-read user-read-currently-playing user-modify-playback-state user-read-playback-state%20user-read-email&response_type=token&state=123"
                    class="btn">Login</a>
                <p id="or">or</p>
                <button id="withoutLogin" class="btn btn--second">Continue without Login</button>
            </div>
        </div>
        <article class="mainContent__text">
            <div class="textBorder">
                <p>Discovering new music has never been this easy!</p>
                <p>Listen to hot new tracks from our playlists, put together by the people around you. </p>
                <h2>ENJOY!</h2>
            </div>
        </article>
    </section>

</div>